body, html {
	height: 100%;
	min-height: 100%;
  }
  
  body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	background: url('https://images.unsplash.com/photo-1472148083604-64f1084980b9?dpr=2&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=') no-repeat center center / cover;
	color: white;
  }
  
  .countdown-container {
	display: flex;
	width: 100%;
	max-width: 70%;
	justify-content: space-between;
  }
  
  .days-container,
  .hours-container,
  .minutes-container, 
  .seconds-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.1);
	border: 5px solid rgba(255,255,255,0.3);
	width: 140px;
	height: 140px;
	border-radius: 99px;
  }
  
  .days,
  .hours,
  .minutes,
  .seconds {
	font-size: 2.5em; 
	margin: 10px 0;
  }
  
  
  .days-label,
  .hours-label,
  .minutes-label,
  .seconds-label {
	text-transform: uppercase;
	margin-bottom: 5px;
  }
  
  @media (max-width: 800px) {
	
	.countdown-container {
	  max-width: 90%;
	}
	
	.days-container,
	.hours-container,
	.minutes-container, 
	.seconds-container {
	  font-size: 0.8em;
	  width: 100px;
	  height: 100px;
	}
  }
  
  